In [32]:
import psycopg2
con_string = "host='localhost' dbname='postgres' user='postgres' password=''"
conn = psycopg2.connect(con_string)
cursor = conn.cursor()

sql = """
select * from ne_10m_admin_0_map_subunits 
where name = 'England' or name = 'Wales'
limit 10
"""

sql2 = """
select distinct subregion from ne_10m_admin_0_map_subunits
"""

import pandas as pd 
pd.options.display.max_rows = 100000
pd.read_sql(sql, conn).T

,0,1
gid,90,347
scalerank,0,0
featurecla,Admin-0 map subunit,Admin-0 map subunit
labelrank,5,5
sovereignt,United Kingdom,United Kingdom
sov_a3,GB1,GB1
adm0_dif,1,1
level,3,3
type,Geo unit,Geo unit
admin,United Kingdom,United Kingdom
adm0_a3,GBR,GBR
geou_dif,1,1
geounit,England,Wales
gu_a3,ENG,WLS
su_dif,0,0
subunit,England,Wales
su_a3,ENG,WLS
brk_diff,0,0
name,England,Wales
name_long,England,Wales
brk_a3,ENG,WLS
brk_name,England,Wales
brk_group,None,None
abbrev,Eng.,Wales
postal,EN,WA
formal_en,None,None
formal_fr,None,None
note_adm0,None,None
note_brk,None,None
name_sort,England,Wales
name_alt,None,None
mapcolor7,6,6
mapcolor8,6,6
mapcolor9,6,6
mapcolor13,3,3
pop_est,5.3013e+07,0
gdp_md_est,1.69682e+06,45268
pop_year,2011,2011
lastcensus,-99,-99
gdp_year,2009,2009
economy,1. Developed region: G7,1. Developed region: G7
income_grp,1. High income: OECD,1. High income: OECD
wikipedia,-99,-99
fips_10_,-99,-99
iso_a2,-99,-99
iso_a3,-99,-99
iso_n3,-99,-99
un_a3,-099,-099
wb_a2,-99,-99
wb_a3,-99,-99
woe_id,2.45549e+07,1.2578e+07
woe_id_eh,2.45549e+07,1.2578e+07
woe_note,Exact WOE match as child of country (called co...,Exact WOE match as child of country (called co...
adm0_a3_is,-99,-99
adm0_a3_us,GBR,GBR
adm0_a3_un,-99,-99
adm0_a3_wb,-99,-99
continent,Europe,Europe
region_un,Europe,Europe
subregion,Northern Europe,Northern Europe
region_wb,Europe & Central Asia,Europe & Central Asia
name_len,7,5
long_len,7,5
abbrev_len,4,5
tiny,-99,-99
homepart,1,1
geom,0106000020E61000000700000001030000000100000008...,0106000020E61000000300000001030000000100000018...

In [46]:
sql = """
select name,sovereignt, admin, continent, region_un, subregion, su_a3, pop_est, gdp_md_est
from ne_10m_admin_0_map_subunits

"""
import pandas as pd 
pd.options.display.max_rows = 100000
all_countries = pd.read_sql(sql, conn)

In [55]:
# from http://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes
list_of_countries = """
Belgium	BE
Greece	EL
Lithuania	LT
Portugal	PT
Bulgaria	BG
Spain	ES
Luxembourg	LU
Romania	RO
Czech Republic	CZ
France	FR
Hungary	HU
Slovenia	SI
Denmark	DK
Croatia	HR
Malta	MT
Slovakia	SK
Germany	DE
Italy	IT
Netherlands	NL
Finland	FI
Estonia	EE
Cyprus	CY
Austria	AT
Sweden	SE
Ireland	IE
Latvia	LV
Poland	PL
United Kingdom	UK
"""
EU_countries = pd.DataFrame([a.split("\t") for a in list_of_countries.split("\n") if a != ""])
EU_countries.columns =["eu_country_name", "eu_country_code"]

In [56]:
# Extract into data frame
EU_countries = pd.DataFrame([a.split("\t") for a in list_of_countries.split("\n") if a != ""])
EU_countries.columns =["eu_country_name", "eu_country_code"]
EU_countries.iloc[27,0]
EU_countries.merge(all_countries, left_on="eu_country_name", right_on="sovereignt", how="left")

,eu_country_name,eu_country_code,name,sovereignt,admin,continent,region_un,subregion,su_a3,pop_est,gdp_md_est
0,Belgium,BE,Brussels,Belgium,Belgium,Europe,Europe,Western Europe,BCR,1080790,40401.19
1,Belgium,BE,Flemish,Belgium,Belgium,Europe,Europe,Western Europe,BFR,6251983,233706.40
2,Belgium,BE,Walloon,Belgium,Belgium,Europe,Europe,Western Europe,BWR,3456775,129218.27
3,Greece,EL,Greece,Greece,Greece,Europe,Europe,Southern Europe,GRC,10737428,343000.00
4,Lithuania,LT,Lithuania,Lithuania,Lithuania,Europe,Europe,Northern Europe,LTU,3555179,63330.00
5,Portugal,PT,Azores,Portugal,Portugal,Seven seas (open ocean),Europe,Southern Europe,PAZ,235374,4492.00
6,Portugal,PT,Madeira,Portugal,Portugal,Africa,Europe,Southern Europe,PMD,267785,6414.00
7,Portugal,PT,Portugal,Portugal,Portugal,Europe,Europe,Southern Europe,PRX,10204765,197721.00
8,Bulgaria,BG,Bulgaria,Bulgaria,Bulgaria,Europe,Europe,Eastern Europe,BGR,7204687,93750.00
9,Spain,ES,Canary Is.,Spain,Spain,Africa,Europe,Southern Europe,ESC,2098593,72654.55
10,Spain,ES,Balearic Is.,Spain,Spain,Europe,Europe,Southern Europe,ESI,1071221,37086.32
11,Spain,ES,Spain,Spain,Spain,Europe,Europe,Southern Europe,ESX,37206452,1288109.80
12,Spain,ES,Ceuta,Spain,Spain,Africa,Africa,Northern Africa,SEC,75276,2606.10
13,Spain,ES,Melilla,Spain,Spain,Africa,Africa,Northern Africa,SEM,73460,2543.23
14,Luxembourg,LU,Luxembourg,Luxembourg,Luxembourg,Europe,Europe,Western Europe,LUX,491775,39370.00
15,Romania,RO,Romania,Romania,Romania,Europe,Europe,Eastern Europe,ROU,22215421,271400.00
16,Czech Republic,CZ,Czech Rep.,Czech Republic,Czech Republic,Europe,Europe,Eastern Europe,CZE,10211904,265200.00
17,France,FR,St-Barthélemy,France,Saint Barthelemy,North America,Americas,Caribbean,BLM,7448,255.00
18,France,FR,Bassas da India,France,French Southern and Antarctic Lands,Africa,Africa,Eastern Africa,BSI,-99,-99.00
19,France,FR,Clipperton I.,France,Clipperton Island,Seven seas (open ocean),Americas,Central America,CLP,-99,-99.00
20,France,FR,Europa Island,France,French Southern and Antarctic Lands,Africa,Africa,Eastern Africa,EUI,60,6.86
21,France,FR,France,France,France,Europe,Europe,Western Europe,FXX,61037510,2230721.00
22,France,FR,Fr. S. Antarctic Lands,France,French Southern and Antarctic Lands,Seven seas (open ocean),Seven seas (open ocean),Seven seas (open ocean),FSA,20,2.29
23,France,FR,Corsica,France,France,Europe,Europe,Southern Europe,FXC,302000,11037.11
24,France,FR,Guadeloupe,France,France,North America,Americas,Caribbean,GLP,452776,3513.00
25,France,FR,French Guiana,France,France,South America,Americas,South America,GUF,199509,1551.00
26,France,FR,Glorioso Is.,France,French Southern and Antarctic Lands,Seven seas (open ocean),Africa,Eastern Africa,GOI,20,2.29
27,France,FR,Juan De Nova I.,France,French Southern and Antarctic Lands,Africa,Africa,Eastern Africa,JUI,20,2.29
28,France,FR,St-Martin,France,Saint Martin,North America,Americas,Caribbean,MAF,36661,449.00
29,France,FR,New Caledonia,France,New Caledonia,Oceania,Oceania,Melanesia,NCL,227436,3158.00
30,France,FR,Martinique,France,France,North America,Americas,Caribbean,MTQ,436131,6117.00
31,France,FR,Mayotte,France,France,Africa,Africa,Eastern Africa,MYT,223765,953.60
32,France,FR,Reunion,France,France,Seven seas (open ocean),Africa,Eastern Africa,REU,787584,4348.00
33,France,FR,Fr. Polynesia,France,French Polynesia,Oceania,Oceania,Polynesia,PYF,287032,4718.00
34,France,FR,St. Pierre and Miquelon,France,Saint Pierre and Miquelon,North America,Americas,Northern America,SPM,7051,48.30
35,France,FR,Tromelin I.,France,French Southern and Antarctic Lands,Seven seas (open ocean),Africa,Eastern Africa,TEI,20,2.29
36,France,FR,Wallis and Futuna Is.,France,Wallis and Futuna,Oceania,Oceania,Polynesia,WLF,15289,60.00
37,Hungary,HU,Hungary,Hungary,Hungary,Europe,Europe,Eastern Europe,HUN,9905596,196600.00
38,Slovenia,SI,Slovenia,Slovenia,Slovenia,Europe,Europe,Southern Europe,SVN,2005692,59340.00
39,Denmark,DK,Greenland,Denmark,Greenland,North America,Americas,Northern America,GRL,57600,1100.00
40,Denmark,DK,Bornholm,Denmark,Denmark,Europe,Europe,Northern Europe,DNB,42154,1560.32
41,Denmark,DK,Denmark,Denmark,Denmark,Europe,Europe,Northern Europe,DNK,5500510,203600.00
42,Denmark,DK,Faeroe Is.,Denmark,Faroe Islands,Europe,Europe,Northern Europe,FRO,48856,1000.00
43,Croatia,HR,Croatia,Croatia,Croatia,Europe,Europe,Southern Europe,HRV,4489409,82390.00
44,Malta,MT,Malta,Malta,Malta,Europe,Europe,Southern Europe,MLT,405165,9962.00
45,Slovakia,SK,Slovakia,Slovakia,Slovakia,Europe,Europe,Eastern Europe,SVK,5463046,119500.00
46,Germany,DE,Germany,Germany,Germany,Europe,Europe,Western Europe,DEU,82329758,2918000.00
47,Italy,IT,Sardinia,Italy,Italy,Europe,Europe,Southern Europe,ITD,1670219,52382.72
48,Italy,IT,Isole Pelagie,Italy,Italy,Europe,Europe,Southern Europe,ITI,6066,190.25
49,Italy,IT,Pantelleria,Italy,Italy,Europe,Europe,Southern Europe,ITP,7729,242.40
50,Italy,IT,Italy,Italy,Italy,Europe,Europe,Southern Europe,ITX,51399115,1612019.49
51,Italy,IT,Sicily,Italy,Italy,Europe,Europe,Southern Europe,ITY,5043083,158165.14
52,Netherlands,NL,Aruba,Netherlands,Aruba,North America,Americas,Caribbean,ABW,103065,2258.00
53,Netherlands,NL,Curaçao,Netherlands,Curaçao,North America,Americas,Caribbean,CUW,141766,2838.00
54,Netherlands,NL,Netherlands,Netherlands,Netherlands,Europe,Europe,Western Europe,NLX,16694866,671150.43
55,Netherlands,NL,Caribbean Netherlands,Netherlands,Netherlands,North America,Americas,Caribbean,NLY,21133,849.57
56,Netherlands,NL,Sint Maarten,Netherlands,Sint Maarten,North America,Americas,Caribbean,SXM,37429,400.00
57,Finland,FI,Aland,Finland,Aland,Europe,Europe,Northern Europe,ALD,27153,1563.00
58,Finland,FI,Finland,Finland,Finland,Europe,Europe,Northern Europe,FIN,5250275,193500.00
59,Estonia,EE,Estonia,Estonia,Estonia,Europe,Europe,Northern Europe,EST,1299371,27410.00
60,Cyprus,CY,Cyprus,Cyprus,Cyprus,Asia,Asia,Western Asia,CYP,531640,22700.00
61,Austria,AT,Austria,Austria,Austria,Europe,Europe,Western Europe,AUT,8210281,329500.00
62,Sweden,SE,Sweden,Sweden,Sweden,Europe,Europe,Northern Europe,SWE,9059651,344300.00
63,Ireland,IE,Ireland,Ireland,Ireland,Europe,Europe,Northern Europe,IRL,4203200,188400.00
64,Latvia,LV,Latvia,Latvia,Latvia,Europe,Europe,Northern Europe,LVA,2231503,38860.00
65,Poland,PL,Poland,Poland,Poland,Europe,Europe,Eastern Europe,POL,38482919,667900.00
66,United Kingdom,UK,Anguilla,United Kingdom,Anguilla,North America,Americas,Caribbean,AIA,14436,108.90
67,United Kingdom,UK,Ascension,United Kingdom,Saint Helena,Seven seas (open ocean),Seven seas (open ocean),Seven seas (open ocean),BAC,940,2.22
68,United Kingdom,UK,Bermuda,United Kingdom,Bermuda,North America,Americas,Northern America,BMU,67837,4500.00
69,United Kingdom,UK,Cayman Is.,United Kingdom,Cayman Islands,North America,Americas,Caribbean,CYM,49035,1939.00
70,United Kingdom,UK,England,United Kingdom,United Kingdom,Europe,Europe,Northern Europe,ENG,53013000,1696816.00
71,United Kingdom,UK,Dhekelia,United Kingdom,Dhekelia Sovereign Base Area,Asia,Asia,Western Asia,ESB,7850,314.00
72,United Kingdom,UK,Falkland Is.,United Kingdom,Falkland Islands,South America,Americas,South America,FLK,3140,105.10
73,United Kingdom,UK,Alderney,United Kingdom,Guernsey,Europe,Europe,Western Europe,GGA,2400,95.88
74,United Kingdom,UK,Guernsey,United Kingdom,Guernsey,Europe,Europe,Western Europe,GGG,65573,2619.75
75,United Kingdom,UK,Herm,United Kingdom,Guernsey,Europe,Europe,Western Europe,GGH,60,2.40
76,United Kingdom,UK,Sark,United Kingdom,Guernsey,Europe,Europe,Western Europe,GGS,600,23.97
77,United Kingdom,UK,Gibraltar,United Kingdom,Gibraltar,Europe,Europe,Southern Europe,GIB,28034,1066.00
78,United Kingdom,UK,Isle of Man,United Kingdom,Isle of Man,Europe,Europe,Northern Europe,IMN,76512,2719.00
79,United Kingdom,UK,Diego Garcia NSF,United Kingdom,British Indian Ocean Territory,Seven seas (open ocean),Seven seas (open ocean),Seven seas (open ocean),IOD,4000,160.00
80,United Kingdom,UK,Br. Indian Ocean Ter.,United Kingdom,British Indian Ocean Territory,Seven seas (open ocean),Seven seas (open ocean),Seven seas (open ocean),IOT,4000,160.00
81,United Kingdom,UK,Jersey,United Kingdom,Jersey,Europe,Europe,Northern Europe,JEY,91626,5100.00
82,United Kingdom,UK,Montserrat,United Kingdom,Montserrat,North America,Americas,Caribbean,MSR,5097,29.00
83,United Kingdom,UK,N. Ireland,United Kingdom,United Kingdom,Europe,Europe,Northern Europe,NIR,1810900,71320.00
84,United Kingdom,UK,Pitcairn Is.,United Kingdom,Pitcairn Islands,Oceania,Oceania,Polynesia,PCN,48,0.72
85,United Kingdom,UK,Scotland,United Kingdom,United Kingdom,Europe,Europe,Northern Europe,SCT,5254800,164298.00
86,United Kingdom,UK,S. Georgia,United Kingdom,South Georgia and the Islands,Seven seas (open ocean),Seven seas (open ocean),Seven seas (open ocean),SGG,30,-99.00
87,United Kingdom,UK,S. Sandwich Is.,United Kingdom,South Georgia and the Islands,Seven seas (open ocean),Seven seas (open ocean),Seven seas (open ocean),SGX,-99,-99.00
88,United Kingdom,UK,St. Helena,United Kingdom,Saint Helena,Seven seas (open ocean),Seven seas (open ocean),Seven seas (open ocean),SHS,4255,10.03
89,United Kingdom,UK,Tristan da Cunha,United Kingdom,Saint Helena,Seven seas (open ocean),Seven seas (open ocean),Seven seas (open ocean),SHT,264,0.62
90,United Kingdom,UK,Turks and Caicos Is.,United Kingdom,Turks and Caicos Islands,North America,Americas,Caribbean,TCA,22942,216.00
91,United Kingdom,UK,British Virgin Is.,United Kingdom,British Virgin Islands,North America,Americas,Caribbean,VGB,24491,853.40
92,United Kingdom,UK,Wales,United Kingdom,United Kingdom,Europe,Europe,Northern Europe,WLS,0,45268.00
93,United Kingdom,UK,Akrotiri,United Kingdom,Akrotiri Sovereign Base Area,Asia,Asia,Western Asia,WSB,7850,314.00

In [49]:
all_countries.head()
# EU_countries.head()

,name,sovereignt,admin,continent,region_un,subregion,su_a3,pop_est,gdp_md_est
0,Aruba,Netherlands,Aruba,North America,Americas,Caribbean,ABW,103065,2258.00
1,Antigua,Antigua and Barbuda,Antigua and Barbuda,North America,Americas,Caribbean,ACA,84262,1630.49
2,Barbuda,Antigua and Barbuda,Antigua and Barbuda,North America,Americas,Caribbean,ACB,1370,26.51
3,Afghanistan,Afghanistan,Afghanistan,Asia,Asia,Southern Asia,AFG,28400000,22270.00
4,Angola,Angola,Angola,Africa,Africa,Middle Africa,AGO,12799293,110300.00

In [50]:
all_countries[all_countries["name"]=="England"]

,name,sovereignt,admin,continent,region_un,subregion,su_a3,pop_est,gdp_md_est
92,England,United Kingdom,United Kingdom,Europe,Europe,Northern Europe,ENG,53013000,1696816